<footer class="footer-info">
    <div class="footer-content">
      <!-- Información de contacto -->
      <div class="footer-info-section">
        <h3 class="titulo" >Información de Contacto</h3>
        <p class="estilo"><strong>Dirección:</strong> Calle Ficticia 123, Ciudad Verde, 12345</p>
        <p class="estilo"><strong>Teléfono:</strong> +1 234 567 890</p>
        <p class="estilo"><strong>Email:</strong> contactotiendafrutas.com</p>
      </div>

      <!-- Enlaces importantes -->
      <div class="footer-info-section">
        <h3 class="titulo" >Enlaces Rápidos</h3>
        <ul>
          <li class="estilo"><a href="#">Inicio</a></li>
          <li class="estilo"><a href="#">Productos</a></li>
          <li class="estilo"><a href="#">Ofertas</a></li>
          <li class="estilo"><a href="#">Contacto</a></li>
          <li class="estilo"><a href="#">Política de Privacidad</a></li>
        </ul>
      </div>

      <!-- Redes Sociales -->
      <div class="footer-info-section">
        <h3 class="titulo" >Síguenos</h3>
        <div class="social-icons">
          <a href="#" class="social-icon">Facebook</a>
          <a href="#" class="social-icon">Instagram</a>
          <a href="#" class="social-icon">Twitter</a>
        </div>
      </div>
    </div>

    <!-- Derechos de autor -->
    <div class="footer-bottom">
      <p>&copy; 2024 Tienda de Frutas y Verduras | Todos los derechos reservados.</p>
    </div>
  </footer>


