<div class="products-filters">
    <!-- Botones para aplicar filtros -->
    <button (click)="filtrarPorTipo('todos')" class="filter-button active">
      Todos
    </button>
    <button (click)="filtrarPorTipo('fruta')" class="filter-button">
      Frutas
    </button>
    <button (click)="filtrarPorTipo('verdura')" class="filter-button">
      Verduras
    </button>
  </div>

  <!-- Contenedor de productos -->
  <div class="d-flex flex-wrap justify-content-center mx-5">
    <!-- Usamos *ngFor para renderizar los productos filtrados -->
    <div
      *ngFor="let producto of productosFiltrados"
      class="product-card m-3"
    >
      <div class="product-image-container">
        <img
          [src]="producto.imagen"
          [alt]="producto.nombre"
          class="product-image"
        />
        <span class="product-badge">Oferta</span>
      </div>
      <div class="product-content">
        <h3 class="product-title">{{ producto.nombre }}</h3>
        <p class="product-description">{{ producto.tipo }}</p>
        <p class="product-description">{{ producto.descripcion }}</p>
        <div class="product-details">
          <span class="product-price">
            <span class="currency">$</span>{{ producto.precio }}
          </span>
          <button class="add-to-cart" (click)="agregarCarrito(producto)">
            <i class="fas fa-shopping-cart"></i>Añadir
          </button>
        </div>
      </div>
    </div>
  </div>
