
<div class="d-flex justify-content-center m-5">
    <h2>¿Porque elegirnos?</h2>
</div>

<div class="d-flex justify-content-center m-5">

    <div class="card">
        <div class="card__body">
          <div class="card__icon">
            <i class="fa-solid fs-4 m-1 fa-truck-fast"></i>
          </div>

          <p class="card__title">Envio Rapido</p>
          <p class="card__paragraph">
            Gracias por elegirnos. Ahora, con nuestro servicio de envíos rápidos, recibirás tus productos en el menor tiempo posible, para que no pierdas ni un segundo
          </p>
        </div>

        <div class="card__ribbon">
          <label class="card__ribbon-label">01</label>
        </div>
      </div>

      <div class="card">
        <div class="card__body">
          <div class="card__icon">
            <i class="fa-solid fs-3 fa-carrot"></i>
          </div>

          <p class="card__title">Frescura Garantizada</p>
          <p class="card__paragraph">
            La frescura es nuestra prioridad. Garantizamos que todos nuestros productos lleguen
            frescos y en perfectas condiciones, para que disfrutes de la mejor calidad.
          </p>
        </div>

        <div class="card__ribbon">
          <label class="card__ribbon-label">02</label>
        </div>
      </div>

      <div class="card">
        <div class="card__body">
          <div class="card__icon">
            <i class="fa-solid fs-3 fa-seedling"></i>
          </div>

          <p class="card__title">100% Organico</p>
          <p class="card__paragraph">
            Te ofrecemos lo mejor de la naturaleza. Todos nuestros productos son 100% orgánicos,
             cultivados sin pesticidas ni productos químicos.
          </p>
        </div>

        <div class="card__ribbon">
          <label class="card__ribbon-label">03</label>
        </div>
      </div>



</div>
